<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button" (click)="toggleSmallMenu()"><i class="zmdi zmdi-menu"></i></button>
        <a href="index.html"><img src="assets/images/logo.svg" width="25" alt="Aero"><span class="m-l-10">Aero</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image waves-effect waves-block" href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>
                    <div class="detail">
                        <h4>Michael</h4>
                        <small>Super Admin</small>                        
                    </div>
                </div>
            </li>

            <li class="active open"><a href="index.html" class="toggled waves-effect waves-block"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
            <li><a href="my-profile.html" class=" waves-effect waves-block"><i class="zmdi zmdi-account"></i><span>Our Profile</span></a></li>

            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'apps'}" (click)="openItem('apps')"><i class="zmdi zmdi-apps"></i><span>App</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'apps'}">
                    <li><a href="mail-inbox.html" class=" waves-effect waves-block">Email</a></li>
                    <li><a href="chat.html" class=" waves-effect waves-block">Chat Apps</a></li>
                    <li><a href="events.html" class=" waves-effect waves-block">Calendar</a></li>
                    <li><a href="contact.html" class=" waves-effect waves-block">Contact</a></li>                    
                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'projects'}" (click)="openItem('projects')"><i class="zmdi zmdi-assignment"></i><span>Projects</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'projects'}">
                    <li><a href="project-list.html" class=" waves-effect waves-block">Projects List</a></li>
                    <li><a href="taskboard.html" class=" waves-effect waves-block">Taskboard</a></li>
                    <li><a href="ticket-list.html" class=" waves-effect waves-block">Ticket List</a></li>
                    <li><a href="ticket-detail.html" class=" waves-effect waves-block">Ticket Detail</a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'fileManager'}" (click)="openItem('fileManager')"><i class="zmdi zmdi-folder"></i><span>File Manager</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'fileManager'}">
                    <li><a href="file-dashboard.html" class=" waves-effect waves-block">All File</a></li>
                    <li><a href="file-documents.html" class=" waves-effect waves-block">Documents</a></li>
                    <li><a href="file-images.html" class=" waves-effect waves-block">Images</a></li>
                    <li><a href="file-media.html" class=" waves-effect waves-block">Media</a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'blog'}" (click)="openItem('blog')"><i class="zmdi zmdi-blogger"></i><span>Blog</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'blog'}">
                    <li><a href="blog-dashboard.html" class=" waves-effect waves-block">Dashboard</a></li>
                    <li><a href="blog-post.html" class=" waves-effect waves-block">Blog Post</a></li>
                    <li><a href="blog-list.html" class=" waves-effect waves-block">List View</a></li>
                    <li><a href="blog-grid.html" class=" waves-effect waves-block">Grid View</a></li>
                    <li><a href="blog-details.html" class=" waves-effect waves-block">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'ecommerce'}" (click)="openItem('ecommerce')"><i class="zmdi zmdi-shopping-cart"></i><span>Ecommerce</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'ecommerce'}">
                    <li><a href="ec-dashboard.html" class=" waves-effect waves-block">Dashboard</a></li>
                    <li><a href="ec-product.html" class=" waves-effect waves-block">Product</a></li>
                    <li><a href="ec-product-List.html" class=" waves-effect waves-block">Product List</a></li>
                    <li><a href="ec-product-detail.html" class=" waves-effect waves-block">Product detail</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'components'}" (click)="openItem('components')"><i class="zmdi zmdi-swap-alt"></i><span>Components</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'components'}">
                    <li><a href="ui_kit.html" class=" waves-effect waves-block">Aero UI KIT</a></li>                    
                    <li><a href="alerts.html" class=" waves-effect waves-block">Alerts</a></li>                    
                    <li><a href="collapse.html" class=" waves-effect waves-block">Collapse</a></li>
                    <li><a href="colors.html" class=" waves-effect waves-block">Colors</a></li>
                    <li><a href="dialogs.html" class=" waves-effect waves-block">Dialogs</a></li>                    
                    <li><a href="list-group.html" class=" waves-effect waves-block">List Group</a></li>
                    <li><a href="media-object.html" class=" waves-effect waves-block">Media Object</a></li>
                    <li><a href="modals.html" class=" waves-effect waves-block">Modals</a></li>
                    <li><a href="notifications.html" class=" waves-effect waves-block">Notifications</a></li>                    
                    <li><a href="progressbars.html" class=" waves-effect waves-block">Progress Bars</a></li>
                    <li><a href="range-sliders.html" class=" waves-effect waves-block">Range Sliders</a></li>
                    <li><a href="sortable-nestable.html" class=" waves-effect waves-block">Sortable &amp; Nestable</a></li>
                    <li><a href="tabs.html" class=" waves-effect waves-block">Tabs</a></li>
                    <li><a href="waves.html" class=" waves-effect waves-block">Waves</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'fontIcons'}" (click)="openItem('fontIcons')"><i class="zmdi zmdi-flower"></i><span>Font Icons</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'fontIcons'}">
                    <li><a href="icons.html" class=" waves-effect waves-block">Material Icons</a></li>
                    <li><a href="icons-themify.html" class=" waves-effect waves-block">Themify Icons</a></li>
                    <li><a href="icons-weather.html" class=" waves-effect waves-block">Weather Icons</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'forms'}" (click)="openItem('forms')"><i class="zmdi zmdi-assignment"></i><span>Forms</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'forms'}">
                    <li><a href="basic-form-elements.html" class=" waves-effect waves-block">Basic Form</a></li>
                    <li><a href="advanced-form-elements.html" class=" waves-effect waves-block">Advanced Form</a></li>
                    <li><a href="form-examples.html" class=" waves-effect waves-block">Form Examples</a></li>
                    <li><a href="form-validation.html" class=" waves-effect waves-block">Form Validation</a></li>
                    <li><a href="form-wizard.html" class=" waves-effect waves-block">Form Wizard</a></li>
                    <li><a href="form-editors.html" class=" waves-effect waves-block">Editors</a></li>
                    <li><a href="form-upload.html" class=" waves-effect waves-block">File Upload</a></li>
                    <li><a href="form-summernote.html" class=" waves-effect waves-block">Summernote</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'tables'}" (click)="openItem('tables')"><i class="zmdi zmdi-grid"></i><span>Tables</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'tables'}">
                    <li><a href="normal-tables.html" class=" waves-effect waves-block">Normal Tables</a></li>
                    <li><a href="jquery-datatable.html" class=" waves-effect waves-block">Jquery Datatables</a></li>
                    <li><a href="editable-table.html" class=" waves-effect waves-block">Editable Tables</a></li>
                    <li><a href="footable.html" class=" waves-effect waves-block">Foo Tables</a></li>
                    <li><a href="table-color.html" class=" waves-effect waves-block">Tables Color</a></li>
                </ul>
            </li>            
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'charts'}" (click)="openItem('charts')"><i class="zmdi zmdi-chart"></i><span>Charts</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'charts'}">
                    <li><a href="echarts.html" class=" waves-effect waves-block">E Chart</a></li>
                    <li><a href="c3.html" class=" waves-effect waves-block">C3 Chart</a></li>
                    <li><a href="morris.html" class=" waves-effect waves-block">Morris</a></li>
                    <li><a href="flot.html" class=" waves-effect waves-block">Flot</a></li>
                    <li><a href="chartjs.html" class=" waves-effect waves-block">ChartJS</a></li>
                    <li><a href="sparkline.html" class=" waves-effect waves-block">Sparkline</a></li>
                    <li><a href="jquery-knob.html" class=" waves-effect waves-block">Jquery Knob</a></li>
                </ul>
            </li>            
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'widgets'}" (click)="openItem('widgets')"><i class="zmdi zmdi-delicious"></i><span>Widgets</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'widgets'}">
                    <li><a href="widgets-app.html" class=" waves-effect waves-block">Apps Widgets</a></li>
                    <li><a href="widgets-data.html" class=" waves-effect waves-block">Data Widgets</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'authentication'}" (click)="openItem('authentication')"><i class="zmdi zmdi-lock"></i><span>Authentication</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'authentication'}">
                    <li><a href="sign-in.html" class=" waves-effect waves-block">Sign In</a></li>
                    <li><a href="sign-up.html" class=" waves-effect waves-block">Sign Up</a></li>
                    <li><a href="forgot-password.html" class=" waves-effect waves-block">Forgot Password</a></li>
                    <li><a href="404.html" class=" waves-effect waves-block">Page 404</a></li>
                    <li><a href="500.html" class=" waves-effect waves-block">Page 500</a></li>
                    <li><a href="page-offline.html" class=" waves-effect waves-block">Page Offline</a></li>
                    <li><a href="locked.html" class=" waves-effect waves-block">Locked Screen</a></li>
                </ul>
            </li>
            <li class="open_top"><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'sample'}" (click)="openItem('sample')"><i class="zmdi zmdi-copy"></i><span>Sample Pages</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'sample'}">
                    <li><a href="blank.html" class=" waves-effect waves-block">Blank Page</a></li>
                    <li><a href="image-gallery.html" class=" waves-effect waves-block">Image Gallery</a></li>
                    <li><a href="profile.html" class=" waves-effect waves-block">Profile</a></li>
                    <li><a href="timeline.html" class=" waves-effect waves-block">Timeline</a></li>
                    <li><a href="pricing.html" class=" waves-effect waves-block">Pricing</a></li>
                    <li><a href="invoices.html" class=" waves-effect waves-block">Invoices</a></li>
                    <li><a href="invoices-list.html" class=" waves-effect waves-block">Invoices List</a></li>
                    <li><a href="search-results.html" class=" waves-effect waves-block">Search Results</a></li>
                </ul>
            </li>
            <li class="open_top"><a href="javascript:void(0);" class="menu-toggle waves-effect waves-block" [ngClass]="{'toggled':activeMenu == 'maps'}" (click)="openItem('maps')"><i class="zmdi zmdi-map"></i><span>Maps</span></a>
                <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'maps'}">
                    <li><a href="google.html" class=" waves-effect waves-block">Google Map</a></li>
                    <li><a href="yandex.html" class=" waves-effect waves-block">YandexMap</a></li>
                    <li><a href="jvectormap.html" class=" waves-effect waves-block">jVectorMap</a></li>
                </ul>
            </li>
            <li>
                <div class="progress-container progress-primary m-t-10">
                    <span class="progress-badge">Traffic this Month</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                            <span class="progress-value">67%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-info">
                    <span class="progress-badge">Server Load</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                            <span class="progress-value">86%</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>